{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="vanta-container">
    {% if user.is_authenticated %}
    <div class="container">
        <div class="header">
            <div class="welcome">
                <h1>Welcome, {{ user.email }}!</h1>
            </div>
            <div class="logout">
                <a href="{% url 'logout' %}" class="logout-link">Log Out</a>
            </div>
        </div>
        
        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="{% url 'project-list' %}">Project</a></li>
                    <li><a href="{% url 'task-list' %}">Task</a></li>
                    {% if user.is_superuser %}
                    <li><a href="{% url 'user-list' %}">User</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <div class="container">
        <h1 style="align-self: center;">WELCOME to TASK MANAGER</h1>
    <div class="navigation">
        <nav>
    <ul>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    </ul>
    </nav>
    </div>
    </div>
    {% endif %}
    
</div>
{% endblock %}

{% block extra_css %}
<style>
    /* Custom styles for the signup page */
    body {
        padding-top: 50px;
        margin-top: 10px;
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .container {
        max-width: 800px; /* Adjust the max-width to fit your design */
        height: 200px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #333;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .header h1 {
        margin: 0;
    }

    .logout {
        margin-left: 20px; /* Adjust the spacing between welcome message and logout link */
    }

    .navigation {
        text-align: center;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
    }

    .navigation ul li {
        display: flex;
        display: inline-block;
        margin-right: 25%;
        margin-left: 25%;
        margin-bottom: 10px;
        align-items: center;
      
    }

    .navigation ul li a {
        border-radius: 5px;
        border: 1px solid #333;
        background: #9775ca;
        width: 100%;
        text-decoration: none;
        color: #000;
    }
    .navigation ul li a:hover {
        background-color: #333;
        color: #fff;
    }

    .logout-link {
        text-decoration: none;
        color: #333;
    }

    #vanta-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" />
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.fog.min.js"></script>

<!-- Include Vanta.js and initialize the fog effect -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        VANTA.FOG({
            el: "#vanta-container", // Replace with the ID of your container element
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            highlightColor: 0xf0f0f0,
            midtoneColor: 0x9775ca,
            lowlightColor: 0x442bff,
            blurFactor: 0.57,
            speed: 1.40,
            zoom: 1.40
        })
    });
</script>
{% endblock %}
