{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
      <h1>Welcome, {{ user.email }}!</h1>
      <a href="{% url 'logout' %}" class="logout-link">Log Out</a>
    </div>
    
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="{% url 'project-list' %}">Project</a></li>
          <li><a href="{% url 'task-list' %}">Task</a></li>
          {% if user.is_superuser %}
            <li><a href="{% url 'user-list' %}">User</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}
